/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 62.5%;
}

body {
    font-family: "helvetica neue", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/* HEADER */

.nav {
    margin-top: 20px;
    text-align: right;
    min-height: 8vh;
}

.logo {
    height: 60px;
    width: 70px;
    float: left;
}

.logo-text {
    margin-top: 20px;
    font-family: oswald, sans-serif;
    float: left;
    color: #ff8c1a;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.logo-text span {
    color: black;
    letter-spacing: 0;
}

/* HEADER - NAVIGATION */

.menu {
    margin-top: 10px;
}

.menu a {
    clear: right;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin: 0 30px;
    line-height: 70px;
    font-size: 10px;
}

.menu span {
    color: #54d17a;
}

label {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

/* MAIN PAGE SECTION */

.home-section {
    height: 90vh;
    background-image: url(/images/michael-van-kerckhove-iN3xWBNHmnw-unsplash-min-min.jpg);
    background-size: cover;
    background-position: center;
}

.home-box1,
.home-box2 {
    text-align: center;
    width: 380px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-box1 {
    height: 200px;
    margin-bottom: 10vh;
}

.home-box1 p {
    margin-top: 30px;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}

.home-box1 h2 {
    margin-top: 10px;
    color: #d75758;
    font-size: 30px;
    line-height: 50px;
    text-transform: capitalize;
}

.home-box2 {
    height: 380px;
    float: right;
}

.home-box2 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}

.home-box2 h1 {
    margin-top: 10px;
    padding: 20px 25px 30px 25px;
    color: white;
    letter-spacing: 2px;
    text-align: left;
    line-height: 40px;
    font-size: 10px;
}

.explore-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    border: none;
    font-family: "Helvetica neue", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: whitesmoke;
    background: #01c9d6;
    cursor: pointer;
}

/* HOME-BOX2 CONTENT / Styling of text. */

.name {
    text-transform: capitalize;
}

.italic-text {
    font-style: italic;
}

/* EXPLORE SECTION */

.explore-section {
    height: 100vh;
    background-image: url(/images/background-2462432_1920-min.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-container1 {
    margin: 25px;
    width: 400px;
    height: 400px;
    background: red;
}

.explore-container2 {
    margin: 25px;
    width: 400px;
    height: 400px;
    background: blue;
}

/* MEDIA QUERIES */

/* HEADER MEDIA QUERY */

@media only screen and (max-width: 1062px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }

    .menu a:hover {
        background-color: #f3bf8b;
    }

    #toggle:checked + .menu {
        display: block;
    }
}
